---
layout: layouts/default.njk
title: Biography
description: On my biography you will find an overview of all the animations where Wim Tilkin has cooperated on over the years and the awards that he had won
eleventyNavigation:
  key: Biography
  order: 2
---

<p>born: 1966</p>
<p>Wim Tilkin is an illustrator, animator, story artist and concept artist with more than 20 years of experience.</p>
<h2>Animation Filmography</h2>
<table>
  <tbody>
    <tr>
      <td>1987-89</td>
      <td>Various student projects</td>
      <td>Shivkv te Genk</td>
      <td>Director</td>
      <td>Film</td>
    </tr>
    <tr>
      <td>1991</td>
      <td>Snuffel (7 episodes)</td>
      <td>VRT</td>
      <td>Lead Anim, L-O</td>
      <td>TV series</td>
    </tr>
    <tr>
      <td>1991-96</td>
      <td>Eddy and Freddy (100 epidsodes)</td>
      <td>VRT</td>
      <td>Lead Anim, Sto</td>
      <td>TV series</td>
    </tr>
    <tr>
      <td></td>
      <td>Professor Stoffel</td>
      <td>VRT</td>
      <td>Lead Anim, Sto</td>
      <td>TV series</td>
    </tr>
    <tr>
      <td>1994</td>
      <td>De 3 Wijzen</td>
      <td>Pix It</td>
      <td>Lead Anim</td>
      <td>TV Trailer</td>
    </tr>
    <tr>
      <td>1995</td>
      <td>Belgacom (4 min.)</td>
      <td>Pix It</td>
      <td>3D-Lead Animator</td>
      <td>TV Trailer</td>
    </tr>
    <tr>
      <td></td>
      <td>Bos Bros (4 min)</td>
      <td>Pix It</td>
      <td>Director, Lead Anim</td>
      <td>Short</td>
    </tr>
    <tr>
      <td></td>
      <td>De Prehistorie</td>
      <td>Pix It</td>
      <td>Lead Anim, Sto</td>
      <td>TV Trailer</td>
    </tr>
    <tr>
      <td>1996-05</td>
      <td>De Bank van De Post (36 ep)</td>
      <td>Pix It</td>
      <td>Lead Anim, Sto</td>
      <td>Commercials</td>
    </tr>
    <tr>
      <td>1997</td>
      <td>Publiek Geheim</td>
      <td>Pix It</td>
      <td>Lead Anim</td>
      <td>TV Trailer</td>
    </tr>
    <tr>
      <td>1998</td>
      <td>Prijs Overeen te komen</td>
      <td>VRT</td>
      <td>Lead Anim</td>
      <td>TV Trailer</td>
    </tr>
    <tr>
      <td></td>
      <td>Nesquik (3 ep)</td>
      <td>Pix It</td>
      <td>Lead Anim, Sto</td>
      <td>Commercials</td>
    </tr>
    <tr>
      <td>1999</td>
      <td>Blokken</td>
      <td>Pix It</td>
      <td>Animator (3D)</td>
      <td>TV Trailer</td>
    </tr>
    <tr>
      <td></td>
      <td>Franklin Turtle</td>
      <td>Nelvana/Canada</td>
      <td>Storyboard</td>
      <td>TV series</td>
    </tr>
    <tr>
      <td></td>
      <td>Weg Wegens Wissel</td>
      <td>VRT</td>
      <td>Lead Anim, Sto</td>
      <td>TV Trailer</td>
    </tr>
    <tr>
      <td></td>
      <td>Kicky trailer</td>
      <td>natuurpunt VZW</td>
      <td>Director, Anim</td>
      <td>Trailer</td>
    </tr>
    <tr>
      <td></td>
      <td>Acaria</td>
      <td>Oniria Pictures</td>
      <td>Lead Animator</td>
      <td>series trailer</td>
    </tr>
    <tr>
      <td>2000</td>
      <td>Ocean Everest</td>
      <td>Cine 3</td>
      <td>Concept Design</td>
      <td>Feature</td>
    </tr>
    <tr>
      <td></td>
      <td>Het Web Van De Suikerspin (1 min)</td>
      <td>VRT(Marc De Bel)</td>
      <td>Director</td>
      <td>series Pilot</td>
    </tr>
    <tr>
      <td></td>
      <td>Boer Teun</td>
      <td>Barking Banana</td>
      <td>Animator</td>
      <td>Short</td>
    </tr>
    <tr>
      <td></td>
      <td>Weetos Cornflakes</td>
      <td>Pix It</td>
      <td>Lead Anim</td>
      <td>Commercials</td>
    </tr>
    <tr>
      <td>2000-06</td>
      <td>Student Proj.</td>
      <td>PHL</td>
      <td>Teaching</td>
      <td>Student Proj</td>
    </tr>
    <tr>
      <td>2001</td>
      <td>VIZO centraal</td>
      <td>Vizo Central</td>
      <td>Lead Anim, Sto</td>
      <td>Commercial</td>
    </tr>
    <tr>
      <td>2002</td>
      <td>Aan Tafel</td>
      <td>VRT</td>
      <td>Animator</td>
      <td>TV Trailer</td>
    </tr>
    <tr>
      <td>2003</td>
      <td>Castor</td>
      <td>Pix It</td>
      <td>Animator, Sto</td>
      <td>Commercial</td>
    </tr>
    <tr>
      <td></td>
      <td>A Human Day</td>
      <td>Barking Banana</td>
      <td>Animator</td>
      <td>Short</td>
    </tr>
    <tr>
      <td>2004</td>
      <td>Swabteam</td>
      <td>Aardappel comics</td>
      <td>Lead Animator</td>
      <td>Trailer</td>
    </tr>
    <tr>
      <td>2004-05</td>
      <td>Student Proj</td>
      <td>Syntra</td>
      <td>Teaching</td>
      <td>Student Proj</td>
    </tr>
    <tr>
      <td></td>
      <td>Various</td>
      <td>Various</td>
      <td>Concept Design</td>
      <td>Commercials</td>
    </tr>
    <tr>
      <td></td>
      <td>Various</td>
      <td>Childrens Books</td>
      <td>Illustrator, L-O</td>
      <td>Books</td>
    </tr>
    <tr>
      <td>2005-08</td>
      <td>Secret Realm ,QUEST</td>
      <td>Secret Realm Productions</td>
      <td>Head of LO, Story</td>
      <td>3D Feature</td>
    </tr>
    <tr>
      <td>2010-11</td>
      <td>Santa’s Magic Crystal</td>
      <td>GRID</td>
      <td>Co-art dir</td>
      <td>3D Feature</td>
    </tr>
    <tr>
      <td></td>
      <td>Hareport International (2 ep)</td>
      <td>Vivifilm, GRID</td>
      <td>Lead Anim</td>
      <td>3D TV series</td>
    </tr>
    <tr>
      <td></td>
      <td>DAVID trailer</td>
      <td>Engarde</td>
      <td>Lead Anim</td>
      <td>2D TV trailer</td>
    </tr>
    <tr>
      <td>2011-12</td>
      <td>SNAP</td>
      <td>Streamline,GRID</td>
      <td>Co-writer, art dir</td>
      <td>3D short</td>
    </tr>
    <tr>
      <td></td>
      <td>Co-founder Game and Animation<br />School Syntra Hasselt</td>
      <td>Syntra</td>
      <td>Teaching</td>
      <td>Student Proj</td>
    </tr>
    <tr>
      <td></td>
      <td>AYA (1 ep)</td>
      <td>Hoaxland</td>
      <td>Storyboard</td>
      <td>3D TV series</td>
    </tr>
    <tr>
      <td>2012</td>
      <td>Bo’s BAZAAR</td>
      <td>Vivifilm</td>
      <td>2D anim</td>
      <td>2D trailer</td>
    </tr>
    <tr>
      <td></td>
      <td>Kings of Concept</td>
      <td>freelance</td>
      <td>Concept Artist</td>
      <td>Concept Art</td>
    </tr>
    <tr>
      <td></td>
      <td>Swab Team, Animalloons</td>
      <td>BOB</td>
      <td>Concept, Anim</td>
      <td>Ipad games</td>
    </tr>
    <tr>
      <td></td>
      <td>BOBO</td>
      <td>Studio 100</td>
      <td>2D anim</td>
      <td>2D trailer</td>
    </tr>
    <tr>
      <td>2013</td>
      <td>Het Perfecte Koppel</td>
      <td>deMensen/PIx It</td>
      <td>char design, anim</td>
      <td>TV Trailer</td>
    </tr>
    <tr>
      <td></td>
      <td>AYA (2 ep)</td>
      <td>Hoaxland</td>
      <td>Storyboard</td>
      <td>3D TV series</td>
    </tr>
    <tr>
      <td></td>
      <td>COCONUT</td>
      <td>Caligari film</td>
      <td>Art dir (model sh)</td>
      <td>3D Feature</td>
    </tr>
  </tbody>
</table>
<h2>Awards</h2>
<ul>
  <li><b>SNAP</b> 3D short (Co-Writer &amp; Art Director) directed by Thomas G. Murphy</li>
  <li>
    <b>2013 Dam Short Film Festival</b><br />
    Audience Award &#8211; Best Animation<br />
    <a href="http://www.damshortfilm.org/" rel="noreferrer" target="_blank">www.damshortfilm.org</a>
  </li>
  <li>
    <b>2013 Bay Area International Children&#8217;s Film Festival</b><br />
    Children’s Choice Award<br />
    <a href="http://baicff.com/" rel="noreferrer" target="_blank">baicff.com</a>
  </li>
  <li>
    <b>2012 Big Bear Lake International Film Festival</b><br />
    Audience Award Best Animation<br />
    Audience Award Best 3D Film<br />
    <a href="http://www.bigbearlakefilmfestival.com/" rel="noreferrer" target="_blank"
      >www.bigbearlakefilmfestival.com</a
    >
  </li>
  <li>
    <b>2012 Nevada International Film Festival</b><br />
    Platinum Reel Award Winner<br />
    <a href="http://www.nevadafilmfestival.com/" rel="noreferrer" target="_blank">www.nevadafilmfestival.com</a>
  </li>
  <li>
    <b>2012 UK Film Festival</b><br />
    Best Animation Award<br />
    <a href="http://ukfilmfestival.com/" rel="noreferrer" target="_blank">ukfilmfestival.com</a>
  </li>
  <li>
    <b>2012 International Short Film Festival Leuven</b>, Belgium<br />
    Ketnet Audience Prize<br />
    <a href="http://www.kortfilmfestival.be/2012/index_en.php" rel="noreferrer" target="_blank"
      >www.kortfilmfestival.be/2012</a
    >
  </li>
  <li>
    <b>2012 Alaska International Film Awards</b><br />
    Best Animation Award<br />
    <a href="http://alaskafilmfestival.com/" rel="noreferrer" target="_blank">alaskafilmfestival.com</a>
  </li>
</ul>
