---
layout: layouts/default.njk
title: Contact
description: You can contact Wim Tilkin for freelance assignments
eleventyNavigation:
  key: Contact
  order: 3
---

<p>
  IDRAWFORYOU<br />
  Putstraat 25<br />
  3470 Stok-Kortenaken
</p>

<p>
  +32 (0)473 91 62 66<br />
  +32 (0)16 77 17 59
</p>

<p>BTW: BE 0858.936.285</p>

<p>
  <a href="mailto:idrawforyou@telenet.be">idrawforyou@telenet.be</a><br />
  <a href="http://www.wimpos.com/">www.wimpos.com</a><br />
  <a href="https://www.shutterstock.com/g/wimpos" rel="noreferrer" target="_blank">www.shutterstock.com/g/wimpos</a>
</p>
