<!DOCTYPE html>
<html lang="en-US" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - Wim Tilkin</title>

    <!-- DNS PREFETCH -->
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/" />
    <link rel="dns-prefetch" href="https://unpkg.com/" />

    <!-- SEO -->
    <link rel="canonical" href="{{ site.url + page.url }}" />
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" />

    <!-- Open Graph -->
    <meta property="og:url" content="{{ site.url + page.url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:locale" content="en_US" />

    <!-- favicon -->
    <link rel="icon" href="/favicon.png" />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Cardo:400,400i,700|Oswald:700&display=swap"
      media="screen"
    />
    <link rel="stylesheet" href="/css/main.css" media="screen" />

    {% if wimpos.environment == "production" %}
    {% include "google-analytics.html" %}
    {% endif %}
  </head>
  <body>
    <div class="container">
      {% include "header.njk" %}
      <main>
        <article>
          <header>
            <h1>{{ title }}</h1>
          </header>
          <div>
            {{ content | safe }}
          </div>
        </article>
      </main>
      {% include "footer.njk" %}
    </div>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
